
.oksana{
    margin-right: 30px;
    width: 300px;
    display: block;
    float: left;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin: auto 10px;
    transition: transform 10s;
  }

.oksana:hover{
  transform: rotateY(360deg);
  }

.v{
    font-size: 35px;
}

.jk{
   font-size: 20px;
   text-align: left;
   display: block;
   color: brown;
}

.jin, .j, .a{
    font-size: 30px;
    display: block;
    text-align: center;
    color: rgb(21, 54, 21);
}

.a{
    text-align: center;
    color: brown;
}

.head{
    text-align: center;
    font-size: 20px;
}

.header{
    background-image: url(background_blue.jpg);
    font-size: 50px;
    display: block;
}

.idk{
    background-image: url(background_blue.jpg);
    font-size: 30px;
}

.heartue{
    width:120px;
    float: right;
    padding-right: -60000px;
}

.ig{
    text-align: center;
    font-size: 50px;
}

.body{
    background-image: url(background_blue.jpg);
    width: 100%;
    color: rgb(39, 39, 83);
}

.z{
    font-size: 40px;
    color: rgb(21, 54, 21);
    text-align: center;
}